.fs-icon{background-image:url(../images/fs-icons.png);width:286px;height:75px;-ms-transform:scale(.6, .6);-webkit-transform:scale(.6, .6);transform:scale(.6, .6)}.fs-icon.field-text{background-position:0 0}
.fs-icon.field-text:hover{background-position:-286px 0}
.fs-icon.field-textarea{background-position:0 -92px}
.fs-icon.field-textarea:hover{background-position:-286px -92px}
.fs-icon.field-password{background-position:0 -184px}
.fs-icon.field-password:hover{background-position:-286px -184px}
.fs-icon.field-date{background-position:0 -276px}
.fs-icon.field-date:hover{background-position:-286px -276px}
.fs-icon.field-time{background-position:0 -368px}
.fs-icon.field-time:hover{background-position:-286px -368px}
.fs-icon.field-datetime{background-position:0 -460px}
.fs-icon.field-datetime:hover{background-position:-286px -460px}
.fs-icon.field-number{background-position:0 -552px}
.fs-icon.field-number:hover{background-position:-286px -552px}
.fs-icon.field-range{background-position:0 -644px}
.fs-icon.field-range:hover{background-position:-286px -644px}
.fs-icon.field-upload{background-position:0 -736px}
.fs-icon.field-upload:hover{background-position:-286px -736px}
.fs-icon.field-subform{background-position:0 -828px}
.fs-icon.field-subform:hover{background-position:-286px -828px}
.fs-icon.field-autoLookup{background-position:0 -920px}
.fs-icon.field-autoLookup:hover{background-position:-286px -920px}
.fs-icon.field-hidden{background-position:0 -1012px}
.fs-icon.field-hidden:hover{background-position:-286px -1012px}
.fs-icon.field-button{background-position:0 -1104px}
.fs-icon.field-button:hover{background-position:-286px -1104px}
.fs-icon.field-staticText{background-position:0 -1191px}
.fs-icon.field-staticText:hover{background-position:-286px -1191px}
.fs-icon.field-html{background-position:0 -1283px}
.fs-icon.field-html:hover{background-position:-286px -1283px}
.fs-icon.field-spacer{background-position:0 -1375px}
.fs-icon.field-spacer:hover{background-position:-286px -1375px}
.fs-icon.field-line{background-position:0 -1467px}
.fs-icon.field-line:hover{background-position:-286px -1467px}
.fs-icon.field-select{background-position:0 -1559px}
.fs-icon.field-select:hover{background-position:-286px -1559px}
.fs-icon.field-radio{background-position:0 -1651px}
.fs-icon.field-radio:hover{background-position:-286px -1651px}
.fs-icon.field-checkbox{background-position:0 -1743px}
.fs-icon.field-checkbox:hover{background-position:-286px -1743px}
.fs-icon.field-mapSingle{background-position:0 -1835px}
.fs-icon.field-mapSingle:hover{background-position:-286px -1835px}
.fs-icon.field-mapMultiple{background-position:0 -1927px}
.fs-icon.field-mapMultiple:hover{background-position:-286px -1927px}
.fs-icon-no-text{background-image:url(../images/icons.png);width:75px;height:75px;-ms-transform:scale(1, 1);-webkit-transform:scale(1, 1);transform:scale(1, 1)}.fs-icon-no-text.field-text{background-position:0 0}
.fs-icon-no-text.field-text:hover{background-position:-286px 0}
.fs-icon-no-text.field-textarea{background-position:0 -92px}
.fs-icon-no-text.field-textarea:hover{background-position:-286px -92px}
.fs-icon-no-text.field-password{background-position:0 -184px}
.fs-icon-no-text.field-password:hover{background-position:-286px -184px}
.fs-icon-no-text.field-date{background-position:0 -276px}
.fs-icon-no-text.field-date:hover{background-position:-286px -276px}
.fs-icon-no-text.field-time{background-position:0 -368px}
.fs-icon-no-text.field-time:hover{background-position:-286px -368px}
.fs-icon-no-text.field-datetime{background-position:0 -460px}
.fs-icon-no-text.field-datetime:hover{background-position:-286px -460px}
.fs-icon-no-text.field-number{background-position:0 -552px}
.fs-icon-no-text.field-number:hover{background-position:-286px -552px}
.fs-icon-no-text.field-range{background-position:0 -644px}
.fs-icon-no-text.field-range:hover{background-position:-286px -644px}
.fs-icon-no-text.field-upload{background-position:0 -736px}
.fs-icon-no-text.field-upload:hover{background-position:-286px -736px}
.fs-icon-no-text.field-subform{background-position:0 -828px}
.fs-icon-no-text.field-subform:hover{background-position:-286px -828px}
.fs-icon-no-text.field-autoLookup{background-position:0 -920px}
.fs-icon-no-text.field-autoLookup:hover{background-position:-286px -920px}
.fs-icon-no-text.field-hidden{background-position:0 -1012px}
.fs-icon-no-text.field-hidden:hover{background-position:-286px -1012px}
.fs-icon-no-text.field-button{background-position:0 -1104px}
.fs-icon-no-text.field-button:hover{background-position:-286px -1104px}
.fs-icon-no-text.field-staticText{background-position:0 -1191px}
.fs-icon-no-text.field-staticText:hover{background-position:-286px -1191px}
.fs-icon-no-text.field-html{background-position:0 -1283px}
.fs-icon-no-text.field-html:hover{background-position:-286px -1283px}
.fs-icon-no-text.field-spacer{background-position:0 -1375px}
.fs-icon-no-text.field-spacer:hover{background-position:-286px -1375px}
.fs-icon-no-text.field-line{background-position:0 -1467px}
.fs-icon-no-text.field-line:hover{background-position:-286px -1467px}
.fs-icon-no-text.field-select{background-position:0 -1559px}
.fs-icon-no-text.field-select:hover{background-position:-286px -1559px}
.fs-icon-no-text.field-radio{background-position:0 -1651px}
.fs-icon-no-text.field-radio:hover{background-position:-286px -1651px}
.fs-icon-no-text.field-checkbox{background-position:0 -1743px}
.fs-icon-no-text.field-checkbox:hover{background-position:-286px -1743px}
.fs-icon-no-text.field-mapSingle{background-position:0 -1835px}
.fs-icon-no-text.field-mapSingle:hover{background-position:-286px -1835px}
.fs-icon-no-text.field-mapMultiple{background-position:0 -1927px}
.fs-icon-no-text.field-mapMultiple:hover{background-position:-286px -1927px}
