.fs-icons.sidebar{background-image:url('../images/fs-icons.png');width:92px;height:92px;-ms-transform:scale(1, 1);-webkit-transform:scale(1, 1);transform:scale(1, 1)}.fs-icons.sidebar.text{background-position:-574px 0}
.fs-icons.sidebar.number{background-position:-574px -92px}
.fs-icons.sidebar.list{background-position:-574px -184px}
.fs-icons.sidebar.datetime{background-position:-574px -276px}
.fs-icons.sidebar.map{background-position:-574px -368px}
.fs-icons.sidebar.others{background-position:-574px -460px}
.fs-icons.sidebar.special{background-position:-574px -552px}
.fs-icons.field{background-image:url('../images/fs-icons.png');width:286px;height:92px;-ms-transform:scale(.6, .6);-webkit-transform:scale(.6, .6);transform:scale(.6, .6)}.fs-icons.field.text{background-position:0 0}
.fs-icons.field.text:hover{background-position:-286px 0}
.fs-icons.field.textarea{background-position:0 -92px}
.fs-icons.field.textarea:hover{background-position:-286px -92px}
.fs-icons.field.password{background-position:0 -184px}
.fs-icons.field.password:hover{background-position:-286px -184px}
.fs-icons.field.date{background-position:0 -276px}
.fs-icons.field.date:hover{background-position:-286px -276px}
.fs-icons.field.time{background-position:0 -368px}
.fs-icons.field.time:hover{background-position:-286px -368px}
.fs-icons.field.datetime{background-position:0 -460px}
.fs-icons.field.datetime:hover{background-position:-286px -460px}
.fs-icons.field.number{background-position:0 -552px}
.fs-icons.field.number:hover{background-position:-286px -552px}
.fs-icons.field.range{background-position:0 -644px}
.fs-icons.field.range:hover{background-position:-286px -644px}
.fs-icons.field.upload{background-position:0 -736px}
.fs-icons.field.upload:hover{background-position:-286px -736px}
.fs-icons.field.subform{background-position:0 -828px}
.fs-icons.field.subform:hover{background-position:-286px -828px}
.fs-icons.field.autoLookup{background-position:0 -920px}
.fs-icons.field.autoLookup:hover{background-position:-286px -920px}
.fs-icons.field.hidden{background-position:0 -1012px}
.fs-icons.field.hidden:hover{background-position:-286px -1012px}
.fs-icons.field.button{background-position:0 -1104px}
.fs-icons.field.button:hover{background-position:-286px -1104px}
.fs-icons.field.staticText{background-position:0 -1191px}
.fs-icons.field.staticText:hover{background-position:-286px -1191px}
.fs-icons.field.html{background-position:0 -1283px}
.fs-icons.field.html:hover{background-position:-286px -1283px}
.fs-icons.field.spacer{background-position:0 -1375px}
.fs-icons.field.spacer:hover{background-position:-286px -1375px}
.fs-icons.field.line{background-position:0 -1467px}
.fs-icons.field.line:hover{background-position:-286px -1467px}
.fs-icons.field.select{background-position:0 -1559px}
.fs-icons.field.select:hover{background-position:-286px -1559px}
.fs-icons.field.radio{background-position:0 -1651px}
.fs-icons.field.radio:hover{background-position:-286px -1651px}
.fs-icons.field.checkbox{background-position:0 -1743px}
.fs-icons.field.checkbox:hover{background-position:-286px -1743px}
.fs-icons.field.mapSingle{background-position:0 -1835px}
.fs-icons.field.mapSingle:hover{background-position:-286px -1835px}
.fs-icons.field.mapMultiple{background-position:0 -1927px}
.fs-icons.field.mapMultiple:hover{background-position:-286px -1927px}
.fs-icons.field-no-text{background-image:url('../images/fs-icons.png');width:75px;height:75px;-ms-transform:scale(1, 1);-webkit-transform:scale(1, 1);transform:scale(1, 1)}.fs-icons.field-no-text.text{background-position:0 0}
.fs-icons.field-no-text.text:hover{background-position:-286px 0}
.fs-icons.field-no-text.textarea{background-position:0 -92px}
.fs-icons.field-no-text.textarea:hover{background-position:-286px -92px}
.fs-icons.field-no-text.password{background-position:0 -184px}
.fs-icons.field-no-text.password:hover{background-position:-286px -184px}
.fs-icons.field-no-text.date{background-position:0 -276px}
.fs-icons.field-no-text.date:hover{background-position:-286px -276px}
.fs-icons.field-no-text.time{background-position:0 -368px}
.fs-icons.field-no-text.time:hover{background-position:-286px -368px}
.fs-icons.field-no-text.datetime{background-position:0 -460px}
.fs-icons.field-no-text.datetime:hover{background-position:-286px -460px}
.fs-icons.field-no-text.number{background-position:0 -552px}
.fs-icons.field-no-text.number:hover{background-position:-286px -552px}
.fs-icons.field-no-text.range{background-position:0 -644px}
.fs-icons.field-no-text.range:hover{background-position:-286px -644px}
.fs-icons.field-no-text.upload{background-position:0 -736px}
.fs-icons.field-no-text.upload:hover{background-position:-286px -736px}
.fs-icons.field-no-text.subform{background-position:0 -828px}
.fs-icons.field-no-text.subform:hover{background-position:-286px -828px}
.fs-icons.field-no-text.autoLookup{background-position:0 -920px}
.fs-icons.field-no-text.autoLookup:hover{background-position:-286px -920px}
.fs-icons.field-no-text.hidden{background-position:0 -1012px}
.fs-icons.field-no-text.hidden:hover{background-position:-286px -1012px}
.fs-icons.field-no-text.button{background-position:0 -1104px}
.fs-icons.field-no-text.button:hover{background-position:-286px -1104px}
.fs-icons.field-no-text.staticText{background-position:0 -1191px}
.fs-icons.field-no-text.staticText:hover{background-position:-286px -1191px}
.fs-icons.field-no-text.html{background-position:0 -1283px}
.fs-icons.field-no-text.html:hover{background-position:-286px -1283px}
.fs-icons.field-no-text.spacer{background-position:0 -1375px}
.fs-icons.field-no-text.spacer:hover{background-position:-286px -1375px}
.fs-icons.field-no-text.line{background-position:0 -1467px}
.fs-icons.field-no-text.line:hover{background-position:-286px -1467px}
.fs-icons.field-no-text.select{background-position:0 -1559px}
.fs-icons.field-no-text.select:hover{background-position:-286px -1559px}
.fs-icons.field-no-text.radio{background-position:0 -1651px}
.fs-icons.field-no-text.radio:hover{background-position:-286px -1651px}
.fs-icons.field-no-text.checkbox{background-position:0 -1743px}
.fs-icons.field-no-text.checkbox:hover{background-position:-286px -1743px}
.fs-icons.field-no-text.mapSingle{background-position:0 -1835px}
.fs-icons.field-no-text.mapSingle:hover{background-position:-286px -1835px}
.fs-icons.field-no-text.mapMultiple{background-position:0 -1927px}
.fs-icons.field-no-text.mapMultiple:hover{background-position:-286px -1927px}
