//generic
@location : '../images/fs-icons.png';

//sidebar
@sidebar-scale: 1;
@sidebar-width: 92px;
@sidebar-height: 92px;
@sidebar-x-pos: -574px;

//field
@field-scale: 0.6;
@field-width: 286px;
@field-height: 92px;
@field-x-pos: 0px;
@field-x-pos-hover: -286px;

//field-no-text
@field-no-text-scale: 1;
@field-no-text-width: 75px;
@field-no-text-height: 75px;

.fs-icons {
	&.sidebar {
		background-image: url(@location);
		width: 92px;
		height: 92px;

		-ms-transform: scale(@sidebar-scale,@sidebar-scale); /* IE 9 */
		-webkit-transform: scale(@sidebar-scale,@sidebar-scale); /* Chrome, Safari, Opera */
		transform: scale(@sidebar-scale,@sidebar-scale);

		&.text{
			background-position: @sidebar-x-pos 0px;
		}

		&.number{
			background-position: @sidebar-x-pos -92px;
		}

		&.list{
			background-position: @sidebar-x-pos -184px;
		}

		&.datetime{
			background-position: @sidebar-x-pos -276px;
		}

		&.map{
			background-position: @sidebar-x-pos -368px;
		}

		&.others{
			background-position: @sidebar-x-pos -460px;
		}

		&.special{
			background-position: @sidebar-x-pos -552px;
		}
	}

	&.field {
		background-image: url(@location);
		width: @field-width;
		height: @field-height;

		-ms-transform: scale(@field-scale,@field-scale); /* IE 9 */
		-webkit-transform: scale(@field-scale,@field-scale); /* Chrome, Safari, Opera */
		transform: scale(@field-scale,@field-scale);

		&.text{
			background-position: @field-x-pos 0px;
		}

		&.text:hover{
			background-position: @field-x-pos-hover 0px;
		}

		&.textarea{
			background-position: @field-x-pos -92px;
		}

		&.textarea:hover{
			background-position: @field-x-pos-hover -92px;
		}

		&.password{
			background-position: @field-x-pos -184px;
		}

		&.password:hover{
			background-position: @field-x-pos-hover -184px;
		}

		&.date{
			background-position: @field-x-pos -276px;
		}

		&.date:hover{
			background-position: @field-x-pos-hover -276px;
		}

		&.time{
			background-position: @field-x-pos -368px;
		}

		&.time:hover{
			background-position: @field-x-pos-hover -368px;
		}

		&.datetime{
			background-position: @field-x-pos -460px;
		}

		&.datetime:hover{
			background-position: @field-x-pos-hover -460px;
		}

		&.number{
			background-position: @field-x-pos -552px;
		}

		&.number:hover{
			background-position: @field-x-pos-hover -552px;
		}

		&.range {
			background-position: @field-x-pos -644px;
		}

		&.range:hover{
			background-position: @field-x-pos-hover -644px;
		}

		&.upload{
			background-position: @field-x-pos -736px;
		}

		&.upload:hover{
			background-position: @field-x-pos-hover -736px;
		}

		&.subform{
			background-position: @field-x-pos -828px;
		}

		&.subform:hover{
			background-position: @field-x-pos-hover -828px;
		}

		&.autoLookup{
			background-position: @field-x-pos -920px;
		}

		&.autoLookup:hover{
			background-position: @field-x-pos-hover -920px;
		}

		&.hidden{
			background-position: @field-x-pos -1012px;
		}

		&.hidden:hover{
			background-position: @field-x-pos-hover -1012px;
		}

		&.button{
			background-position: @field-x-pos -1104px;
		}

		&.button:hover{
			background-position: @field-x-pos-hover -1104px;
		}

		&.staticText{
			background-position: @field-x-pos -1191px;
		}

		&.staticText:hover{
			background-position: @field-x-pos-hover -1191px;
		}

		&.html{
			background-position: @field-x-pos -1283px;
		}

		&.html:hover{
			background-position: @field-x-pos-hover -1283px;
		}

		&.spacer{
			background-position: @field-x-pos -1375px;
		}

		&.spacer:hover{
			background-position: @field-x-pos-hover -1375px;
		}

		&.line{
			background-position: @field-x-pos -1467px;
		}

		&.line:hover{
			background-position: @field-x-pos-hover -1467px;
		}
		
		&.select{
			background-position: @field-x-pos -1559px;
		}

		&.select:hover{
			background-position: @field-x-pos-hover -1559px;
		}

		&.radio{
			background-position: @field-x-pos -1651px;
		}

		&.radio:hover{
			background-position: @field-x-pos-hover -1651px;
		}

		&.checkbox{
			background-position: @field-x-pos -1743px;
		}

		&.checkbox:hover{
			background-position: @field-x-pos-hover -1743px;
		}

		&.mapSingle {
			background-position: @field-x-pos -1835px;
		}

		&.mapSingle:hover {
			background-position: @field-x-pos-hover -1835px;
		}

		&.mapMultiple {
			background-position: @field-x-pos -1927px;
		}

		&.mapMultiple:hover{
			background-position: @field-x-pos-hover -1927px;
		}
	}

	&.field-no-text {
		background-image: url(@location);
		width: @field-no-text-width;
		height: @field-no-text-height;

		-ms-transform: scale(@field-no-text-scale,@field-no-text-scale); /* IE 9 */
		-webkit-transform: scale(@field-no-text-scale,@field-no-text-scale); /* Chrome, Safari, Opera */
		transform: scale(@field-no-text-scale,@field-no-text-scale);

		&.text{
			background-position: @field-x-pos 0px;
		}

		&.text:hover{
			background-position: @field-x-pos-hover 0px;
		}

		&.textarea{
			background-position: @field-x-pos -92px;
		}

		&.textarea:hover{
			background-position: @field-x-pos-hover -92px;
		}

		&.password{
			background-position: @field-x-pos -184px;
		}

		&.password:hover{
			background-position: @field-x-pos-hover -184px;
		}

		&.date{
			background-position: @field-x-pos -276px;
		}

		&.date:hover{
			background-position: @field-x-pos-hover -276px;
		}

		&.time{
			background-position: @field-x-pos -368px;
		}

		&.time:hover{
			background-position: @field-x-pos-hover -368px;
		}

		&.datetime{
			background-position: @field-x-pos -460px;
		}

		&.datetime:hover{
			background-position: @field-x-pos-hover -460px;
		}

		&.number{
			background-position: @field-x-pos -552px;
		}

		&.number:hover{
			background-position: @field-x-pos-hover -552px;
		}

		&.range {
			background-position: @field-x-pos -644px;
		}

		&.range:hover{
			background-position: @field-x-pos-hover -644px;
		}

		&.upload{
			background-position: @field-x-pos -736px;
		}

		&.upload:hover{
			background-position: @field-x-pos-hover -736px;
		}

		&.subform{
			background-position: @field-x-pos -828px;
		}

		&.subform:hover{
			background-position: @field-x-pos-hover -828px;
		}

		&.autoLookup{
			background-position: @field-x-pos -920px;
		}

		&.autoLookup:hover{
			background-position: @field-x-pos-hover -920px;
		}

		&.hidden{
			background-position: @field-x-pos -1012px;
		}

		&.hidden:hover{
			background-position: @field-x-pos-hover -1012px;
		}

		&.button{
			background-position: @field-x-pos -1104px;
		}

		&.button:hover{
			background-position: @field-x-pos-hover -1104px;
		}

		&.staticText{
			background-position: @field-x-pos -1191px;
		}

		&.staticText:hover{
			background-position: @field-x-pos-hover -1191px;
		}

		&.html{
			background-position: @field-x-pos -1283px;
		}

		&.html:hover{
			background-position: @field-x-pos-hover -1283px;
		}

		&.spacer{
			background-position: @field-x-pos -1375px;
		}

		&.spacer:hover{
			background-position: @field-x-pos-hover -1375px;
		}

		&.line{
			background-position: @field-x-pos -1467px;
		}

		&.line:hover{
			background-position: @field-x-pos-hover -1467px;
		}
		
		&.select{
			background-position: @field-x-pos -1559px;
		}

		&.select:hover{
			background-position: @field-x-pos-hover -1559px;
		}

		&.radio{
			background-position: @field-x-pos -1651px;
		}

		&.radio:hover{
			background-position: @field-x-pos-hover -1651px;
		}

		&.checkbox{
			background-position: @field-x-pos -1743px;
		}

		&.checkbox:hover{
			background-position: @field-x-pos-hover -1743px;
		}

		&.mapSingle {
			background-position: @field-x-pos -1835px;
		}

		&.mapSingle:hover {
			background-position: @field-x-pos-hover -1835px;
		}

		&.mapMultiple {
			background-position: @field-x-pos -1927px;
		}

		&.mapMultiple:hover{
			background-position: @field-x-pos-hover -1927px;
		}
	}
}