.fs-icon {
	background-image: url(../images/icons.png);
	width: 286px;
	height: 75px;

	-ms-transform: scale(0.6,0.6); /* IE 9 */
	-webkit-transform: scale(0.6,0.6); /* Chrome, Safari, Opera */
	transform: scale(0.6,0.6);

	&.field-text{
		background-position: -706px 0px;
	}

	&.field-text-hover{
		background-position: -992px 0px;
	}

	&.field-textarea{
		background-position: -706px -92px;
	}

	&.field-textarea-hover{
		background-position: -992px -92px;
	}

	&.field-password{
		background-position: -706px -184px;
	}

	&.field-password-hover{
		background-position: -992px -184px;
	}

	&.field-date{
		background-position: -706px -276px;
	}

	&.field-date-hover{
		background-position: -992px -276px;
	}

	&.field-time{
		background-position: -706px -368px;
	}

	&.field-time-hover{
		background-position: -992px -368px;
	}

	&.field-datetime{
		background-position: -706px -460px;
	}

	&.field-datetime-hover{
		background-position: -992px -460px;
	}

	&.field-number{
		background-position: -706px -552px;
	}

	&.field-number-hover{
		background-position: -992px -552px;
	}

	&.field-range {
		background-position: -706px -644px;
	}

	&.field-range-hover{
		background-position: -992px -644px;
	}

	&.field-upload{
		background-position: -706px -736px;
	}

	&.field-upload-hover{
		background-position: -992px -736px;
	}

	&.field-subform{
		background-position: -706px -828px;
	}

	&.field-subform-hover{
		background-position: -992px -828px;
	}

	&.field-autoLookup{
		background-position: -706px -920px;
	}

	&.field-autoLookup-hover{
		background-position: -992px -920px;
	}

	&.field-hidden{
		background-position: -706px -1012px;
	}

	&.field-hidden-hover{
		background-position: -992px -1012px;
	}

	&.field-button{
		background-position: -706px -1104px;
	}

	&.field-button-hover{
		background-position: -992px -1104px;
	}

	&.field-staticText{
		background-position: -706px -1191px;
	}

	&.field-staticText-hover{
		background-position: -992px -1191px;
	}

	&.field-html{
		background-position: -706px -1283px;
	}

	&.field-html-hover{
		background-position: -992px -1283px;
	}

	&.field-spacer{
		background-position: -706px -1375px;
	}

	&.field-spacer-hover{
		background-position: -992px -1375px;
	}

	&.field-line{
		background-position: -706px -1467px;
	}

	&.field-line-hover{
		background-position: -992px -1467px;
	}
	
	&.field-select{
		background-position: -706px -1559px;
	}

	&.field-select-hover{
		background-position: -992px -1559px;
	}

	&.field-radio{
		background-position: -706px -1651px;
	}

	&.field-radio-hover{
		background-position: -992px -1651px;
	}

	&.field-checkbox{
		background-position: -706px -1743px;
	}

	&.field-checkbox-hover{
		background-position: -992px -1743px;
	}

	&.field-mapSingle {
		background-position: -706px -1835px;
	}

	&.field-mapSingle-hover {
		background-position: -992px -1835px;
	}

	&.field-mapMultiple {
		background-position: -706px -1927px;
	}

	&.field-mapMultiple-hover{
		background-position: -992px -1927px;
	}
}